.OuterInput {
    margin-bottom: 1rem;
}

.Input{
    margin-bottom: 0;    
    width: 100%;
    font-size: 1.2rem;
}

.MyError {
    opacity: 0;



}

.error input {
    border: 1px red solid;
}


.error span {

    opacity: 1;
    color: red;
    font-size: smaller;
    

    
}



