.UserInfoView {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: minmax(25%,25%) minmax(30%,35%) minmax(15%,15%) minmax(10%,10%);
    grid-template-rows: auto;
    grid-column-gap: 3px;


}

.UserInfoView div {
    padding: 0 0 0 0;
}

.UserInfoView div span{
    padding-left: 15px;
}



.UserInfoView input.correct {
    background-color: rgb(215, 255, 213);
}

.UserInfoViewBeforeConfirm{
    font-weight: bold;
    color: white;
}



.UserInfoViewConfirm{
    font-weight: bold;
    color: greenyellow;
}


h5 {
    font-size: smaller;
    font-style: italic;
    color: gray;
    padding-left: 3px;
}

.UserInfoViewImage{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.UserInfoViewImage img{
    height: 200px;

    border-radius: 10px;
    
}

.UserInfoViewImage button{
    margin-top: 20px;
    width: 100px;

}


.Button {
    background-color:#444653;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 8px;
}

.UserInfoViewLabel {
    display: flex;
    justify-content: center;
    align-items: center;
}
