.OuterInput {
    margin-bottom: 1rem;
}

.Input{
    margin-bottom: 0;    
    width: 100%;

}

.MyError {
    opacity: 0;



}

.errorNew input {
    border: 1px red solid;
    background: rgb(255, 195, 195);
}

.correct input {
    border: 1px rgb(0, 255, 64) solid;
    background: rgb(235, 255, 240)
}

.errorNew span {

    opacity: 1;
    color: red;
    font-size: smaller;
    

    
}



