.SpaceLayer {
    padding: 4rem 0 1rem 0;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index:2;


}
.Outer {

    background-color:#444653;
    margin-top: 30px;
    display: flex;
    z-index:2;
}

.SidePanelCall {
    font-size: large;
 
}

.Inner {
    color:white;
}

.MenuBody {
    display: flex;
    justify-content: flex-start;

}

.menuPanel {
    display: flex;
    justify-content: flex-end;
}

.menuPanel span:hover{
    transform: scale(1.1);
}

.searchPanel input {
    width: 60%;
    margin-left: 10rem;
    border-radius: 5px;
}

.Outer h3 {
    color: rgb(204, 204, 204);
    display: flex;
    justify-content: flex-start;
    margin-left: 7rem;
    cursor: pointer;
    font-size: 1.6rem;
    margin-top:5px;
}


.Outer h3:hover {
    color: rgb(255, 255, 255);
    border: 1px white;
    border-radius: 20px; /* Радиус скругления */
    background-color: #7d7d7e;

}

