.ControlBtnGroup {
   z-index: 5;
   position: fixed;
   margin-top: 9rem;
   padding-top: 5rem;
   margin-left: 10%;
   height: 8rem;
   width: 80%;
   background-color: white;
}

.ControlBtnNameContainer {


   display: grid;
   grid-template-columns: minmax(20%,20%) minmax(20%, 20%) minmax(20%, 20%) minmax(20%, 20%);
   grid-template-rows: 3rem 3rem;
   justify-content: center;
   grid-column-gap: 2%;
   grid-row-gap: 2rem;

}

.ControlBtnNameContainer button {
   width: 90%;
}

.DeleteButton {
   display: inline;
   width: 100%;
}

.DeleteModeOFFButton {
   display: inline;
}

.ArhiveModeBtn {
   align-items: flex-end;
   width: 100%;
}

.MoveArchiveBtn {
}

.DeleteModeONButton {

}